{% extends '_layout.html' %} {% block title %}Movie Rating App | All Movies{% endblock %} {% block body %}
<h1 class="mb-5">All Movies</h1>
<p class="mb-3">See our list of movie ratings below</p>
<!-- TODO: Feature 1 -->
{% if movies %}
<table class="table table-dark table-rounded table-hover">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Title</th>
			<th scope="col">Director</th>
			<th scope="col">Rating</th>
		</tr>
	</thead>
	<tbody>
		{% for movie in movies %}
		<tr onclick="window.location='/movies/{{ movie.movie_id }}';" style="cursor: pointer;">
			<td>{{ movie.movie_id }}</td>
			<td>{{ movie.title }}</td>
			<td>{{ movie.director }}</td>
			<td>{{ movie.rating }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<h2>No movies have been registered yet.</h2>
{% endif %} {% endblock %}
